<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (anuncio()) {
      <div>
        <h2 data-cy="anuncioDetailsHeading"><span jhiTranslate="controlClubApplicationApp.anuncio.detail.title">Anuncio</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ anuncio()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.anuncio.titulo">Titulo</span></dt>
          <dd>
            <span>{{ anuncio()!.titulo }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.anuncio.contenido">Contenido</span></dt>
          <dd>
            <span>{{ anuncio()!.contenido }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.anuncio.fechaPublicacion">Fecha Publicacion</span></dt>
          <dd>
            <span>{{ anuncio()!.fechaPublicacion | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/anuncio', anuncio()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
