<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-asociados-heading"
        data-cy="AsociadosCreateUpdateHeading"
        jhiTranslate="controlClubApplicationApp.asociados.home.createOrEditLabel"
      >
        Crear o editar Asociados
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlClubApplicationApp.asociados.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombres" jhiTranslate="controlClubApplicationApp.asociados.nombres">Nombres</label>
          <input type="text" class="form-control" name="nombres" id="field_nombres" data-cy="nombres" formControlName="nombres" />
          @if (editForm.get('nombres')!.invalid && (editForm.get('nombres')!.dirty || editForm.get('nombres')!.touched)) {
            <div>
              @if (editForm.get('nombres')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellidos" jhiTranslate="controlClubApplicationApp.asociados.apellidos">Apellidos</label>
          <input type="text" class="form-control" name="apellidos" id="field_apellidos" data-cy="apellidos" formControlName="apellidos" />
          @if (editForm.get('apellidos')!.invalid && (editForm.get('apellidos')!.dirty || editForm.get('apellidos')!.touched)) {
            <div>
              @if (editForm.get('apellidos')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cargo" jhiTranslate="controlClubApplicationApp.asociados.cargo">Cargo</label>
          <input type="text" class="form-control" name="cargo" id="field_cargo" data-cy="cargo" formControlName="cargo" />
          @if (editForm.get('cargo')!.invalid && (editForm.get('cargo')!.dirty || editForm.get('cargo')!.touched)) {
            <div>
              @if (editForm.get('cargo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="controlClubApplicationApp.asociados.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          @if (editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)) {
            <div>
              @if (editForm.get('telefono')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaAsoc" jhiTranslate="controlClubApplicationApp.asociados.fechaAsoc">Fecha Asoc</label>
          <div class="input-group">
            <input
              id="field_fechaAsoc"
              data-cy="fechaAsoc"
              type="text"
              class="form-control"
              name="fechaAsoc"
              ngbDatepicker
              #fechaAsocDp="ngbDatepicker"
              formControlName="fechaAsoc"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaAsocDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('fechaAsoc')!.invalid && (editForm.get('fechaAsoc')!.dirty || editForm.get('fechaAsoc')!.touched)) {
            <div>
              @if (editForm.get('fechaAsoc')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="controlClubApplicationApp.asociados.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_directivos" jhiTranslate="controlClubApplicationApp.asociados.directivos">Directivos</label>
          <select
            class="form-control"
            id="field_directivos"
            data-cy="directivos"
            name="directivos"
            formControlName="directivos"
            [compareWith]="compareDirectivos"
          >
            <option [ngValue]="null"></option>
            @for (directivosOption of directivosCollection; track $index) {
              <option [ngValue]="directivosOption">{{ directivosOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cuerpoTecnico" jhiTranslate="controlClubApplicationApp.asociados.cuerpoTecnico"
            >Cuerpo Tecnico</label
          >
          <select
            class="form-control"
            id="field_cuerpoTecnico"
            data-cy="cuerpoTecnico"
            name="cuerpoTecnico"
            formControlName="cuerpoTecnico"
            [compareWith]="compareCuerpoTecnico"
          >
            <option [ngValue]="null"></option>
            @for (cuerpoTecnicoOption of cuerpoTecnicosCollection; track $index) {
              <option [ngValue]="cuerpoTecnicoOption">{{ cuerpoTecnicoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
