<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (padre()) {
      <div>
        <h2 data-cy="padreDetailsHeading"><span jhiTranslate="controlClubApplicationApp.padre.detail.title">Padre</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ padre()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.padre.nombres">Nombres</span></dt>
          <dd>
            <span>{{ padre()!.nombres }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.padre.apellidos">Apellidos</span></dt>
          <dd>
            <span>{{ padre()!.apellidos }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.padre.relacion">Relacion</span></dt>
          <dd>
            <span>{{ padre()!.relacion }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.padre.telefono">Telefono</span></dt>
          <dd>
            <span>{{ padre()!.telefono }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.padre.asociado">Asociado</span></dt>
          <dd>
            <span>{{ padre()!.asociado }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.padre.email">Email</span></dt>
          <dd>
            <span>{{ padre()!.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/padre', padre()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
