<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-finanzas-egreso-heading"
        data-cy="FinanzasEgresoCreateUpdateHeading"
        jhiTranslate="controlClubApplicationApp.finanzasEgreso.home.createOrEditLabel"
      >
        Crear o editar Finanzas Egreso
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlClubApplicationApp.finanzasEgreso.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_tipo" jhiTranslate="controlClubApplicationApp.finanzasEgreso.tipo">Tipo</label>
          <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo" data-cy="tipo">
            <option [ngValue]="null">{{ 'controlClubApplicationApp.TipoPago.null' | translate }}</option>
            @for (tipoPago of tipoPagoValues; track $index) {
              <option [value]="tipoPago">{{ 'controlClubApplicationApp.TipoPago.' + tipoPago | translate }}</option>
            }
          </select>
          @if (editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)) {
            <div>
              @if (editForm.get('tipo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="controlClubApplicationApp.finanzasEgreso.descripcion"
            >Descripcion</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          @if (editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)) {
            <div>
              @if (editForm.get('descripcion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_monto" jhiTranslate="controlClubApplicationApp.finanzasEgreso.monto">Monto</label>
          <input type="number" class="form-control" name="monto" id="field_monto" data-cy="monto" formControlName="monto" />
          @if (editForm.get('monto')!.invalid && (editForm.get('monto')!.dirty || editForm.get('monto')!.touched)) {
            <div>
              @if (editForm.get('monto')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('monto')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fecha" jhiTranslate="controlClubApplicationApp.finanzasEgreso.fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)) {
            <div>
              @if (editForm.get('fecha')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
