<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (entrenamiento()) {
      <div>
        <h2 data-cy="entrenamientoDetailsHeading">
          <span jhiTranslate="controlClubApplicationApp.entrenamiento.detail.title">Entrenamiento</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ entrenamiento()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.entrenamiento.fechaHora">Fecha Hora</span></dt>
          <dd>
            <span>{{ entrenamiento()!.fechaHora | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.entrenamiento.duracion">Duracion</span></dt>
          <dd>
            <span>{{ entrenamiento()!.duracion }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.entrenamiento.cuerpoTecnico">Cuerpo Tecnico</span></dt>
          <dd>
            @if (entrenamiento()!.cuerpoTecnico) {
              <div>
                <a [routerLink]="['/cuerpo-tecnico', entrenamiento()!.cuerpoTecnico?.id, 'view']">{{
                  entrenamiento()!.cuerpoTecnico?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/entrenamiento', entrenamiento()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
