<div>
  <h2 id="page-heading" data-cy="AnuncioHeading">
    <span jhiTranslate="controlClubApplicationApp.anuncio.home.title">Anuncios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controlClubApplicationApp.anuncio.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-anuncio"
        [routerLink]="['/anuncio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controlClubApplicationApp.anuncio.home.createLabel">Crear nuevo Anuncio</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (anuncios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="controlClubApplicationApp.anuncio.home.notFound">Ningún Anuncios encontrado</span>
    </div>
  }

  @if (anuncios && anuncios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titulo">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.anuncio.titulo">Titulo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contenido">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.anuncio.contenido">Contenido</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaPublicacion">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.anuncio.fechaPublicacion">Fecha Publicacion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (anuncio of anuncios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/anuncio', anuncio.id, 'view']">{{ anuncio.id }}</a>
              </td>
              <td>{{ anuncio.titulo }}</td>
              <td>{{ anuncio.contenido }}</td>
              <td>{{ anuncio.fechaPublicacion | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/anuncio', anuncio.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/anuncio', anuncio.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(anuncio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (anuncios && anuncios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
