<div>
  <h2 id="page-heading" data-cy="UsuarioHeading">
    <span jhiTranslate="controlClubApplicationApp.usuario.home.title">Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controlClubApplicationApp.usuario.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-usuario"
        [routerLink]="['/usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controlClubApplicationApp.usuario.home.createLabel">Crear nuevo Usuario</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (usuarios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="controlClubApplicationApp.usuario.home.notFound">Ningún Usuarios encontrado</span>
    </div>
  }

  @if (usuarios && usuarios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.usuario.username">Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.usuario.password">Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rol">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.usuario.rol">Rol</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (usuario of usuarios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/usuario', usuario.id, 'view']">{{ usuario.id }}</a>
              </td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.password }}</td>
              <td [jhiTranslate]="'controlClubApplicationApp.RolUsuario.' + (usuario.rol ?? 'null')">
                {{
                  { null: '', ADMINISTRADOR: 'ADMINISTRADOR', ENTRENADOR: 'ENTRENADOR', JUGADOR: 'JUGADOR', PADRE: 'PADRE' }[
                    usuario.rol ?? 'null'
                  ]
                }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/usuario', usuario.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(usuario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (usuarios && usuarios.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
