<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (previsionSalud()) {
      <div>
        <h2 data-cy="previsionSaludDetailsHeading">
          <span jhiTranslate="controlClubApplicationApp.previsionSalud.detail.title">Prevision Salud</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ previsionSalud()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.previsionSalud.tipoPrevision">Tipo Prevision</span></dt>
          <dd>
            <span [jhiTranslate]="'controlClubApplicationApp.TipoPrevision.' + (previsionSalud()!.tipoPrevision ?? 'null')">{{
              { null: '', FONASA: 'FONASA', ISAPRE: 'ISAPRE', NO_TIENE: 'NO_TIENE', OTRO: 'OTRO' }[
                previsionSalud()!.tipoPrevision ?? 'null'
              ]
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/prevision-salud', previsionSalud()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
