<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (usuario()) {
      <div>
        <h2 data-cy="usuarioDetailsHeading"><span jhiTranslate="controlClubApplicationApp.usuario.detail.title">Usuario</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ usuario()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.usuario.username">Username</span></dt>
          <dd>
            <span>{{ usuario()!.username }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.usuario.password">Password</span></dt>
          <dd>
            <span>{{ usuario()!.password }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.usuario.rol">Rol</span></dt>
          <dd>
            <span [jhiTranslate]="'controlClubApplicationApp.RolUsuario.' + (usuario()!.rol ?? 'null')">{{
              { null: '', ADMINISTRADOR: 'ADMINISTRADOR', ENTRENADOR: 'ENTRENADOR', JUGADOR: 'JUGADOR', PADRE: 'PADRE' }[
                usuario()!.rol ?? 'null'
              ]
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/usuario', usuario()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
