<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cuerpoTecnico()) {
      <div>
        <h2 data-cy="cuerpoTecnicoDetailsHeading">
          <span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.detail.title">Cuerpo Tecnico</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.nombres">Nombres</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.nombres }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.apellidos">Apellidos</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.apellidos }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.rolTecnico">Rol Tecnico</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.rolTecnico }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.telefono">Telefono</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.telefono }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.fechaInicio">Fecha Inicio</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.fechaInicio | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.email">Email</span></dt>
          <dd>
            <span>{{ cuerpoTecnico()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.cuerpoTecnico.asociados">Asociados</span></dt>
          <dd>
            @if (cuerpoTecnico()!.asociados) {
              <div>
                <a [routerLink]="['/asociados', cuerpoTecnico()!.asociados?.id, 'view']">{{ cuerpoTecnico()!.asociados?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/cuerpo-tecnico', cuerpoTecnico()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
