<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mensaje-heading"
        data-cy="MensajeCreateUpdateHeading"
        jhiTranslate="controlClubApplicationApp.mensaje.home.createOrEditLabel"
      >
        Crear o editar Mensaje
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlClubApplicationApp.mensaje.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_remitenteId" jhiTranslate="controlClubApplicationApp.mensaje.remitenteId"
            >Remitente Id</label
          >
          <input
            type="number"
            class="form-control"
            name="remitenteId"
            id="field_remitenteId"
            data-cy="remitenteId"
            formControlName="remitenteId"
          />
          @if (editForm.get('remitenteId')!.invalid && (editForm.get('remitenteId')!.dirty || editForm.get('remitenteId')!.touched)) {
            <div>
              @if (editForm.get('remitenteId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('remitenteId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_destinatarioId" jhiTranslate="controlClubApplicationApp.mensaje.destinatarioId"
            >Destinatario Id</label
          >
          <input
            type="number"
            class="form-control"
            name="destinatarioId"
            id="field_destinatarioId"
            data-cy="destinatarioId"
            formControlName="destinatarioId"
          />
          @if (
            editForm.get('destinatarioId')!.invalid && (editForm.get('destinatarioId')!.dirty || editForm.get('destinatarioId')!.touched)
          ) {
            <div>
              @if (editForm.get('destinatarioId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('destinatarioId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mensaje" jhiTranslate="controlClubApplicationApp.mensaje.mensaje">Mensaje</label>
          <input type="text" class="form-control" name="mensaje" id="field_mensaje" data-cy="mensaje" formControlName="mensaje" />
          @if (editForm.get('mensaje')!.invalid && (editForm.get('mensaje')!.dirty || editForm.get('mensaje')!.touched)) {
            <div>
              @if (editForm.get('mensaje')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_leido" jhiTranslate="controlClubApplicationApp.mensaje.leido">Leido</label>
          <input type="checkbox" class="form-check" name="leido" id="field_leido" data-cy="leido" formControlName="leido" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
