<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comuna()) {
      <div>
        <h2 data-cy="comunaDetailsHeading"><span jhiTranslate="controlClubApplicationApp.comuna.detail.title">Comuna</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ comuna()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.comuna.comuna">Comuna</span></dt>
          <dd>
            <span [jhiTranslate]="'controlClubApplicationApp.RMComuna.' + (comuna()!.comuna ?? 'null')">{{
              {
                null: '',
                CERRILLOS: 'CERRILLOS',
                CERRO: 'CERRO',
                NAVIA: 'NAVIA',
                CONCHALI: 'CONCHALI',
                EL: 'EL',
                BOSQUE: 'BOSQUE',
                ESTACION: 'ESTACION',
                CENTRAL: 'CENTRAL',
                HUECHURABA: 'HUECHURABA',
                INDEPENDENCIA: 'INDEPENDENCIA',
                LA: 'LA',
                CISTERNA: 'CISTERNA',
                FLORIDA: 'FLORIDA',
                GRANJA: 'GRANJA',
                PINTANA: 'PINTANA',
                REINA: 'REINA',
                LAS: 'LAS',
                CONDES: 'CONDES',
                LO: 'LO',
                BARNECHEA: 'BARNECHEA',
                ESPEJO: 'ESPEJO',
                PRADO: 'PRADO',
                MACUL: 'MACUL',
                MAIPU: 'MAIPU',
                NUNOA: 'NUNOA',
                PADRE: 'PADRE',
                HURTADO: 'HURTADO',
                PEDRO: 'PEDRO',
                AGUIRRE: 'AGUIRRE',
                CERDA: 'CERDA',
                PENALOLEN: 'PENALOLEN',
                PIRQUE: 'PIRQUE',
                PROVIDENCIA: 'PROVIDENCIA',
                PUDAHUEL: 'PUDAHUEL',
                PUENTE: 'PUENTE',
                ALTO: 'ALTO',
                QUILICURA: 'QUILICURA',
                QUINTA: 'QUINTA',
                NORMAL: 'NORMAL',
                RECOLETA: 'RECOLETA',
                RENCA: 'RENCA',
                SAN: 'SAN',
                BERNARDO: 'BERNARDO',
                JOAQUIN: 'JOAQUIN',
                JOSE: 'JOSE',
                DE: 'DE',
                MAIPO: 'MAIPO',
                MIGUEL: 'MIGUEL',
                RAMON: 'RAMON',
                SANTIAGO: 'SANTIAGO'
              }[comuna()!.comuna ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/comuna', comuna()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
