<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comuna()) {
      <div>
        <h2 data-cy="comunaDetailsHeading"><span jhiTranslate="controlClubApplicationApp.comuna.detail.title">Comuna</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ comuna()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.comuna.comuna">Comuna</span></dt>
          <dd>
            <span [jhiTranslate]="'controlClubApplicationApp.RMComuna.' + (comuna()!.comuna ?? 'null')">{{
              {
                null: '',
                CERRILLOS: 'CERRILLOS',
                CERRO_NAVIA: 'CERRO_NAVIA',
                CONCHALI: 'CONCHALI',
                EL_BOSQUE: 'EL_BOSQUE',
                ESTACION_CENTRAL: 'ESTACION_CENTRAL',
                HUECHURABA: 'HUECHURABA',
                INDEPENDENCIA: 'INDEPENDENCIA',
                LA_CISTERNA: 'LA_CISTERNA',
                LA_FLORIDA: 'LA_FLORIDA',
                LA_GRANJA: 'LA_GRANJA',
                LA_PINTANA: 'LA_PINTANA',
                LA_REINA: 'LA_REINA',
                LAS_CONDES: 'LAS_CONDES',
                LO_BARNECHEA: 'LO_BARNECHEA',
                LO_ESPEJO: 'LO_ESPEJO',
                LO_PRADO: 'LO_PRADO',
                MACUL: 'MACUL',
                MAIPU: 'MAIPU',
                NUNOA: 'NUNOA',
                PADRE_HURTADO: 'PADRE_HURTADO',
                PEDRO_AGUIRRE_CERDA: 'PEDRO_AGUIRRE_CERDA',
                PENALOLEN: 'PENALOLEN',
                PIRQUE: 'PIRQUE',
                PROVIDENCIA: 'PROVIDENCIA',
                PUDAHUEL: 'PUDAHUEL',
                PUENTE_ALTO: 'PUENTE_ALTO',
                QUILICURA: 'QUILICURA',
                QUINTA_NORMAL: 'QUINTA_NORMAL',
                RECOLETA: 'RECOLETA',
                RENCA: 'RENCA',
                SAN_BERNARDO: 'SAN_BERNARDO',
                SAN_JOAQUIN: 'SAN_JOAQUIN',
                SAN_JOSE_DE_MAIPO: 'SAN_JOSE_DE_MAIPO',
                SAN_MIGUEL: 'SAN_MIGUEL',
                SAN_RAMON: 'SAN_RAMON',
                SANTIAGO: 'SANTIAGO'
              }[comuna()!.comuna ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/comuna', comuna()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
