<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (asistencia()) {
      <div>
        <h2 data-cy="asistenciaDetailsHeading"><span jhiTranslate="controlClubApplicationApp.asistencia.detail.title">Asistencia</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ asistencia()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.asistencia.tipo">Tipo</span></dt>
          <dd>
            <span [jhiTranslate]="'controlClubApplicationApp.TipoAsistencia.' + (asistencia()!.tipo ?? 'null')">{{
              { null: '', ENTRENAMIENTO: 'ENTRENAMIENTO', PARTIDO: 'PARTIDO' }[asistencia()!.tipo ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.asistencia.idEvento">Id Evento</span></dt>
          <dd>
            <span>{{ asistencia()!.idEvento }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.asistencia.fecha">Fecha</span></dt>
          <dd>
            <span>{{ asistencia()!.fecha | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="controlClubApplicationApp.asistencia.asistencia">Asistencia</span></dt>
          <dd>
            <span>{{ asistencia()!.asistencia }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/asistencia', asistencia()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
