<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-categorias-heading"
        data-cy="CategoriasCreateUpdateHeading"
        jhiTranslate="controlClubApplicationApp.categorias.home.createOrEditLabel"
      >
        Crear o editar Categorias
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlClubApplicationApp.categorias.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_anioInicio" jhiTranslate="controlClubApplicationApp.categorias.anioInicio"
            >Anio Inicio</label
          >
          <input
            type="number"
            class="form-control"
            name="anioInicio"
            id="field_anioInicio"
            data-cy="anioInicio"
            formControlName="anioInicio"
          />
          @if (editForm.get('anioInicio')!.invalid && (editForm.get('anioInicio')!.dirty || editForm.get('anioInicio')!.touched)) {
            <div>
              @if (editForm.get('anioInicio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('anioInicio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_anioFinal" jhiTranslate="controlClubApplicationApp.categorias.anioFinal">Anio Final</label>
          <input type="number" class="form-control" name="anioFinal" id="field_anioFinal" data-cy="anioFinal" formControlName="anioFinal" />
          @if (editForm.get('anioFinal')!.invalid && (editForm.get('anioFinal')!.dirty || editForm.get('anioFinal')!.touched)) {
            <div>
              @if (editForm.get('anioFinal')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('anioFinal')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nombreCategoria" jhiTranslate="controlClubApplicationApp.categorias.nombreCategoria"
            >Nombre Categoria</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreCategoria"
            id="field_nombreCategoria"
            data-cy="nombreCategoria"
            formControlName="nombreCategoria"
          />
          @if (
            editForm.get('nombreCategoria')!.invalid && (editForm.get('nombreCategoria')!.dirty || editForm.get('nombreCategoria')!.touched)
          ) {
            <div>
              @if (editForm.get('nombreCategoria')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
