<div>
  <h2 id="page-heading" data-cy="CentroEducativoHeading">
    <span jhiTranslate="controlClubApplicationApp.centroEducativo.home.title">Centro Educativos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="controlClubApplicationApp.centroEducativo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-centro-educativo"
        [routerLink]="['/centro-educativo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="controlClubApplicationApp.centroEducativo.home.createLabel">Crear nuevo Centro Educativo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (centroEducativos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="controlClubApplicationApp.centroEducativo.home.notFound">Ningún Centro Educativos encontrado</span>
    </div>
  }

  @if (centroEducativos && centroEducativos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="centroEducativo">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.centroEducativo.centroEducativo">Centro Educativo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="comuna.id">
              <div class="d-flex">
                <span jhiTranslate="controlClubApplicationApp.centroEducativo.comuna">Comuna</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (centroEducativo of centroEducativos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/centro-educativo', centroEducativo.id, 'view']">{{ centroEducativo.id }}</a>
              </td>
              <td>{{ centroEducativo.centroEducativo }}</td>
              <td>
                @if (centroEducativo.comuna) {
                  <div>
                    <a [routerLink]="['/comuna', centroEducativo.comuna.id, 'view']">{{ centroEducativo.comuna.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/centro-educativo', centroEducativo.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/centro-educativo', centroEducativo.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(centroEducativo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (centroEducativos && centroEducativos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
